* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.donation-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  border: 3px solid gray;
  margin: 0 auto;
  padding: 5rem;
}
.form-row {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.type {
  display: flex;
  flex-direction: column;
}
input,
label,
.span,
select {
  padding: 0.75rem;
}
.span {
  font-size: 20px;
}
input {
  font-size: 15px;
}
input:checked {
  border: 2px solid red;
}
.choice {
  font-size: 15px;
}
.privacy {
  text-decoration: none;
  font-size: 15px;
  margin-left: 3rem;
  color: rgb(55, 0, 255);
  font-weight: 800;
  width: fit-content;
}
.privacy:hover {
  color: black;
}
.textarea {
  resize: none;
  height: 200px;
  width: 100%;
  padding: 0.75rem;
}
.payment {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.donate {
  width: 40%;
  padding: 0.5rem;
  background-color: rgba(189, 144, 86, 0);
  border: 1px solid #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.donate:hover {
  background-color: rgb(1, 35, 73);
  color: rgba(189, 144, 86, 1);
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .donation-form {
    display: flex;
    padding: 0;
  }
}
