/* This is the flex gallery CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Styling the main */
main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* Giving a general style for the container that contains the gallery itself */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
/* Styling every row */
.row-1,
.row-2,
.row-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* Styling every column */
.col {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  justify-content: center;
  align-items: center;
}
/* Styling the figure and the figcaption */
figure img {
  width: 100%;
  border-radius: 20px;
  display: flex;
}
figure {
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  position: relative;
  margin: 1rem;
  border-radius: 20px;
}
figcaption {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
figcaption:hover {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
/* Making a resposible gallery for smaller screens */
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .row-1,
  .row-2,
  .row-3 {
    display: flex;
    flex-direction: column;
  }
}
