* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  /* margin: 1em auto; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(1, 35, 73);
}
h2 {
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(1, 35, 73);
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin: 2em auto;
  color: rgb(1, 35, 73);
}
.my-grid {
  margin: 20px 0;
}
.my-grid > * {
  display: inline-grid;
  align-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  justify-content: center;
}
.my-grid .he {
  grid-area: header;
  border: 1px solid red;
  justify-items: center;
}
.my-grid nav {
  grid-area: nav;
}
.my-grid section {
  grid-area: section;
}
.my-grid aside {
  grid-area: aside;
}
.my-grid footer {
  grid-area: footer;
}
.flex-example {
  background-color: rgb(1, 35, 73);
  display: flex;
  align-content: center;
  padding: 12px 0;
  justify-content: space-around;
  margin: 20px 0;
}
.flex-example > div {
  padding: 4px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.grid-wrapper-example {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 15% 1fr 15%;
  grid-gap: 4px;
  height: 360px;
}
.grid-wrapper-example > * {
  background-color: rgb(1, 35, 73);
}
.post_content {
  text-align: right;
}
.post_content {
  padding: 0 0 30px;
  word-break: break-word;
}
@media screen and (max-width: 600px) {
  main .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }
  .flex-example {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  p,
  h1,
  h2 {
    font-size: 1rem;
  }
  .wp-caption img {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  /* .post_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  } */
}
