/* This is the main CSS (general style) for all the pages */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
/* General style */
:root {
  --background: #012349;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(189, 144, 86, 0.7);
}
h2 {
  font-weight: 400;
  font-size: 15px;
}
/* navigation styles start here */
.title {
  font-size: 25px;
  text-align: center;
  color: rgb(1, 35, 73);
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.header {
  background: var(--background);
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
}
/* Styling the nav bar / the header */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label .span1,
.nav-toggle-label .span1::before,
.nav-toggle-label .span1::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label .span1::before,
.nav-toggle-label .span1::after {
  content: "";
  position: absolute;
}
.nav-toggle-label .span1::before {
  bottom: 7px;
}
.nav-toggle-label .span1::after {
  top: 7px;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.bar_tap {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.bar_tap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bar_tap li {
  margin-bottom: 1em;
  margin-left: 1em;
}
.bar_tap a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.bar_tap a:hover {
  border-radius: 10px;
  padding: 0.5rem;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.7s;
  font-weight: 900;
}
/* Styling the main */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-grow: 1;
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}
/* Styling the figcaption */
figcaption {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
figcaption:hover {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
/* The footer style starts here */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: rgb(1, 35, 73);
}
.footer > * {
  flex: 1 100%;
}
.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.r-footer {
  display: flex;
  flex-flow: row wrap;
}
.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a {
  color: #fff;
}
.h-box {
  column-count: 2;
  column-gap: 1.25em;
}
.b-footer {
  text-align: center;
  color: #fff;
  padding-top: 50px;
}
.l-footer p {
  padding-right: 20%;
  color: #fff;
}
/* Making a responsive page for smaller screens */
@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }
  .features {
    flex-grow: 2;
  }
  .l-footer {
    flex: 1 0px;
  }
  .r-footer {
    flex: 2 0px;
  }
  main {
    padding: 10px;
    font-size: 0.5rem;
    margin-top: 5rem;
  }
  .nav-toggle-label {
    display: none;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  .bar_tap {
    all: unset;
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .bar_tap ul {
    display: flex;
  }
  .bar_tap li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  .bar_tap a {
    opacity: 1;
    position: relative;
  }
}
@media screen and (max-width: 600px) {
  .title {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}
